<ngx-spinner type="ball-scale-multiple">
  <p class="text-white">loading...</p>
</ngx-spinner>

<mat-toolbar color="primary">
  <span>Client Management Crud App</span>
  <span class="example-spacer"></span>
 </mat-toolbar>
 <div class="main-body">
     <div class="table-container">


       <kendo-grid
        [kendoGridBinding]="gridview"
       [pageable]="true"
       [pageSize]="5"
       [filterable]="true"
       (edit)="editHandler($event)"
       (remove)="removeHandler($event)"
       (add)="addHandler()">

       <ng-template kendoGridToolbarTemplate>
        <button  kendoGridAddCommand [primary]="true">Add new</button>
      </ng-template>

      <kendo-grid-column field="fullName" title="Full Name"></kendo-grid-column>
      <kendo-grid-column
        field="email"
        title="Email"
      ></kendo-grid-column>
      <kendo-grid-column
        field="phoneNumber"
        title="Phone Number"
      ></kendo-grid-column>
      <kendo-grid-command-column title="Actions" [width]="220">
        <ng-template kendoGridCellTemplate>
          <button kendoGridEditCommand [primary]="true">Edit</button>
          <button kendoGridRemoveCommand>Delete</button>
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>

    <app-kendo-customer-form
      [model]="editDataItem"
      [isNew]="isNew"
      (save)="saveHandler($event)"
      (cancel)="cancelHandler()"
    >
    </app-kendo-customer-form>
     </div>
   </div>
